<section class="section" aria-labelledby="bio-heading">
    <h2 id="bio-heading">Bio</h2>
    <p class="bio">
        I am a computer science Ph.D. candidate at Yale, advised by Professor <a href="https://www.yongshanding.com/"
            target="_blank" rel="noreferrer">Yongshan Ding</a>. I am also a
        long-term visiting student in the <a href="https://theory.cs.columbia.edu/" target="_blank"
            rel="noreferrer">Theory of
            Computation</a> group at Columbia.
        My research lies at the intersection of <a href="https://www.ibm.com/think/topics/quantum-computing"
            target="_blank" rel="noreferrer">quantum computing</a> and <a
            href="https://complexityzoo.net/Complexity_Zoo" target="_blank" rel="noreferrer">theoretical computer
            science</a>. In summer 2026, I interned at IBM Quantum Research.
        <br><br>
        Prior to graduate school, I double majored in Mathematics and Computer Science, also at Yale.
    </p>
</section>